*{
    padding: 6px;
}

table{
    width: 100%;
}
.mat-form-field{
    font-size: 14px;
    width: 15%;
}

.mat-slide-toggle{
    margin-left: 90% ;

}

h3{
    color: red;
}

h2{
    background-color:aqua;
}

.mat-form-field{
    width: 100%;
}



.mat-form-field {  font-size: 14px;  width: 20%;}
.th-center{  text-align: center;}
.th-left{  text-align: left;}
.th-right{  text-align: right;}

.title{
    padding: 5px;
}